@import'./utils/variables';
@import'./utils/base';
@import './components/header';
@import './components/logo';
@import './components/hero-section';
@import './components/benefits-section';
@import './components/our-work-section';
@import './components/team-section';
@import './components/permanent-client-section';
@import './components/footer';
@import './components/section-portfolio';
@import './components/list-box';
@import './components/modal';