.benefits-section{
    background-color: #fff;
    padding-bottom: initial;
  
  .benefits-list {
    display: flex;
    gap: 30px;
    flex-basis: calc((100% - 90px) / 4);
  
  
  .benefits-list__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--color-backgorund);
    border-radius: 4px;
  }
  .benefits-list__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-primary);
  }
  .benefits-list__paragraph {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-text);
    text-decoration: none;
  }
}
}