.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  .is-hidden {
    transform: scale(1.25);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 528px;
    min-height: 581px;
    background-color: #fff;
    padding: 40px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  
  .modal__close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 0;
    background: none;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  &:focus,
  &:hover {
    fill: var(--color-focus);
  }
  }
  .modal__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
  }

  .form-label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--color-text);
  }
  .form-label:not(:first-child) {
    margin-top: 10px;
  }

  .form-control {
    position: relative;
  }
    .form-input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    background-color: #ffffff;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:focus {
    border-color: var(--color-focus);
  }
   &:focus-within .form-icon {
    fill: var(--color-focus);
    }
  }
  .form-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    fill: currentcolor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .form-textarea {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    width: 100%;
    height: 120px;
    resize: none;
    background-color: #ffffff;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    padding: 12px 16px;
    margin-bottom: 20px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  &:focus {
    border: 1px solid var(--color-focus);
  }
}
  .field {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    justify-content: center;
  }
  .checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    bottom: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .modal-icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 5px;
    border: 2px solid var(--color-primary);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .checkbox:checked + .modal-icon {
    border-color: transparent;
    background-color: var(--color-focus);
    background-size: contain;
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-position: 50% 50%;
   
  }

  .text-modal {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-text);
  
  .text-modal__conditions {
    color: var(--color-focus);
  }
}
  .button-modal {
    font-weight: 700;
    font-size: 16px;
    margin: 0 auto;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #fff;
    padding: 10px 52px;
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }