.our-work-section__container {
    text-align: center;
  
  .our-work-section__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--color-primary);
  }
  
  .our-work {
    display: flex;
    gap: 30px;
    flex-basis: calc((100% - 90px) / 3);
    justify-content: center;
    background-color: #fff;
  }
  
  .our-work__img {
    position: relative;
  }
  .our-work__text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
    padding: 27px 0;
    background-color: rgba(47, 48, 58, 0.8);
  }
}