.permanent-client-section__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.permanent-client {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.permanent-client__link {
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
  fill: var(--color-focus);
  border-color: var(--color-focus);
  outline: var(--color-focus);
}
}
