.team-section {
    background-color: var(--color-backgorund);
  
  .team-section__title {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--color-primary);
    @media screen and (min-width:1200px) {
      margin-bottom: 50px;
    }
  }
}
  .team-list {
    @media screen and (min-width:768px) {
      
      display: flex;
      flex-wrap: wrap;
     margin: -15px;
     
    }
    @media screen and (min-width:1200px) {
      gap: 30px;
      flex-basis: calc((100% - 90px) / 4);
      justify-content: center;
      flex-wrap:nowrap;
      margin: 0;
    }
  
  .team-list__item {
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    @media screen and (min-width:768px) and  (max-width:1199px) {
      flex-basis: calc((100% - 4 * 15px) / 2);
      margin: 15px;
    }
    
   
  }
  @media screen and (max-width:767px) {
    
  }
  .team-list__item:not(last-child){
   margin-bottom: 30px;
  }
  .team-list__info {
    padding: 24px 0;
    @media screen and(min-width:768px) {
      padding: 30px 0 24px 0;
    }
    @media screen and(min-width:1200px) {
      padding: 30px 0;
    }
  }
  
  .team-list__title {
    margin-bottom: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--color-primary);
  }
  .team-list__text {
    margin-bottom: 16px;
    text-align: center;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--color-text);
  }
}
  
  .soc-list {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .soc-link {
    fill: var(--color-soc-link-main);
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  &:hover,
  &:focus {
    fill: #fff;
    background-color: var(--color-focus);
    outline: var(--color-focus);
  }
}


