body {
    color: var(--color-primary);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: #fff;
  }
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
section {
    padding: 60px 0;
    @media screen and (min-width:1200px) {
      padding: 94px;
  }
}
  
.container {
   padding: 0 15px;
    margin: 0 auto;
    @media screen and (min-width:480px) {
      width: 480px;
    }
    @media screen and (min-width:768px) {
      width: 768px;
    }
    @media screen and (min-width:1200px) {
      width: 1200px;
    }
  }

