:root {
    --color-primary: #212121;
    --color-backgorund: #f5f4fa;
    --color-brand: #2f303a;
    --color-text: #757575;
    --color-backgorund2: #f5f5f5;
    --color-soc-link-main: #afb1b8;
    --color-soc-link-footer: #fff;
    --color-focus: #2196f3;
  }
